@import '../../common.scss';

.gifts {
  &__title {
    @include title;
    color: #193248;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 440px;
    margin: 0 auto;

    @include media-md {
      width: 100%;
    }

    .gift {
      display: flex;
      width: calc(50% - 8px);
      margin-bottom: 8px;


      &__title {
        @include commonText;

        @include media-md {
          text-align: left
        }
      }

      img {
        width: 100%;
        border-radius: 8px;
      }

      &__link,
      &__span {
        height: 100%;
        @include commonText;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        text-align: left;
        color: #0c2134;


        span {
          margin-top: 8px;

        }
      }
    }
  }

  &__note {
    margin-top: 8px;
    padding-top: 8px;
    text-align: left;
    color: rgb(199, 6, 6);
    border-top: 1px solid #0000006B;
  }
}

.done {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  span {
    text-decoration: line-through;
  }
}