@import './common.scss';

.layout {
  width: 100%;
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(135deg, #fef3c7 0%, #fbbf24 100%);
  text-align: center;
}

.main {
  width: 100%;
  position: relative;

  &__image {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -100px center;
    background-attachment: fixed;
    background-attachment: fixed;
    overflow: hidden;
    border-radius: 16px;

    @include media-md {
      width: 100%;
      background-size: cover;
      background-attachment: local;
      background-position: center;
    }
  }

  &--title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    white-space: nowrap;

    @include media-md {
      font-size: 28px;
      line-height: 32px;
      transform: translate(-40%);
      top: 13%;
      left: 0px;
      transform: initial;
      white-space: initial;
      width: 100%;
      text-align: center;

    }
  }

  &--timer {
    color: rgb(0, 0, 0);
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
    margin: 0px;
    padding: 8px;

    @include media-md {
      font-size: 24px;
      line-height: 28px;
      white-space: initial;
      width: 100%;
    }
  }
}

.invite {
  font-size: 32px;
  line-height: 32px;
  color: #193248;
  margin-bottom: 30px;

  >span {
    font-weight: 700;
  }

  @include media-md {
    font-size: 24px;
    line-height: 28px;
    padding: 16px 0;
  }
}

.thanks_block {
  font-size: 32px;
  line-height: 32px;
  color: white;
  background-color: #0d7c3b;
  padding: 24px 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  @include media-md {
    font-size: 24px;
    line-height: 28px;

  }
}