@mixin media-sm {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin media-sm-md {
  @media only screen and (max-width: 375px) {
    @content;
  }
}

@mixin media-sm-xl {
  @media only screen and (max-width: 420px) {
    @content;
  }
}

@mixin media-md-sm {
  @media only screen and (max-width: 560px) {
    @content;
  }
}

@mixin media-md {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin media-md-xl {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin title($borderColor: #0000006B) {
  display: inline-block;

  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid $borderColor;

  @include media-md {
    font-size: 24px;
    line-height: 28px;
  }
}

@mixin commonText {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #193248;

  @include media-md {
    font-size: 16px;
    line-height: 20px;
  }
}