@import '../../common.scss';

.slider__wrapper {
  .slider_title {
    @include title;
  }

  .slider_images {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 440px;
    margin: 0 auto;
    @include media-md {
      width: 100%;
    }

    .slider_image {
      width: calc(50% - 8px);
      height: 100%;
      >img {
        width: 100%;
        border-radius: 8px;
      }

      &:nth-child(5) {
        width: 100%;
      }

      &:last-of-type {
        width: 100%;
      }
    }
  }
}
